body{
    background-color:#c1d7f0;
}
#home{
    background-image:url(../imag/f.elconfidencial.com_original_47e_9eb_77d_47e9eb77d0fefdfeee960de4ba13aeb8.jpg);
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;

}
.nav-item{
    justify-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
}
.nav-item img{
    width: 30px;
    height: 30px;
}
.dropdown{
    margin-right: 85px;
}

.form-select{
    width: 20%;
    text-align: center;
}
.general{
    margin-left: 25%;
}
.pasajero{
    display: flex;
    flex-direction: row;
    margin-top: 7%;
}
.origen, .destino{
    display: flex;
    flex-direction: row;
    margin-top: 7%;
}
.a{
    width: 25%;
}
#b{
    margin-left: 8px;
}
.input1{
    display: flex;
    flex-direction: column;
}

