body{
    margin: 0;
    background-image:url(../imag/f.elconfidencial.com_original_47e_9eb_77d_47e9eb77d0fefdfeee960de4ba13aeb8.jpg);
    background-attachment:local;
    background-size:cover;
    height: 100%;
}